/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: square ;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

body{
  width: 800px;
  margin: 0 auto;
}

.container{
  border: solid 2px #C0C0C0;
  border-radius: 20px;
  width: 450px;
  padding: 70px 90px 70px 50px;
  margin-top: 40px;
  position: relative;
}

header h2{
  color: #32cd32;
  font-weight: bold;
  font-size: 2.2em;
  font-family: Arial, sans-serif;
  margin-bottom: 70px;
}

#circle{
  position: absolute;
  left: 500px;
  top: 80px;
  background-color: #C0C0C0;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  z-index: 0;
  line-height:130px;
  text-align:center;
}

.two{
  color: white;
  font-size: 3.5em;
  font-family: Arial, sans-serif;
}

.css-title{
  font-size: 2em;
  font-family: Arial, sans-serif;
  color: #808080;

}

ul{
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 60px;
}

ul li{

  text-decoration: underline;
  color: #C0C0C0;
  font-size: 2em;

}

.blue{
  color: blue;
}

.share{
  font-size: 2em;
  font-family: Arial, sans-serif;
  color: #808080;
  position: absolute;
  left: 60px;
  padding-bottom: 50px;
}

.twitter{
  margin-top: 60px;
  margin-left: 20px;
}

.facebook{
  margin-top: 60px;
  margin-left: 30px;
}

.google{
  margin-top: 60px;
  margin-left: 30px;
}
